[Unit]
Description=GPT-4_Vision_Screenshot_Analyzer
After=network.target

[Service]
User=root
ExecStart=/usr/bin/python3 /home/your_username/gpt4v-screenshot-analyzer/gpt4_screenshot_analyzer.py
Restart=always
Environment="DISPLAY=:0"

[Install]
WantedBy=multi-user.target
